@import "bootstrap/scss/bootstrap";
.highlight {
	border-style: solid;
	border-width: 5px;
	border-color: red;
}

.page-content {
	flex-grow: 1;
}

.section {
	min-height: 100vh;
	background-color: #cadeff;
}

.section-divider {
	height: 100px;
	background-color: #4183fd;
	border-color: #6da5ff;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 15px;
}

.section-border {
	background:
		linear-gradient(to bottom right, white 50%, #cadeff 50%) top left,
		linear-gradient(to bottom left, white 50%, #cadeff 50%) top right,
		linear-gradient(to top right, white 50%, #cadeff 50%) bottom left,
		linear-gradient(to top left, white 50%, #cadeff 50%) bottom right;
	background-size:
		20px 20px,
		20px 20px; // width and height of corner lines
	background-repeat: no-repeat;
}

.navtab {
	position: sticky;
	height: 100vh;
	top: 0;
}

.nav-item {
	list-style-type: none;
}
.nav-a {
	text-decoration: none;
	color: inherit;
	font-size: 25px;
	padding-left: 5px;

	border-color: #ffffff;
	border-left-style: solid;
}

.nav-a.active {
	border-color: #4183fd;
	border-left-style: solid;
}

.nav-header {
	border-color: #4183fd;
	border-bottom-style: solid;
	padding-bottom: 2px;
}
